  nav.background, a.background{
    background-color: black;
  }
  
  
  a.nav-link{
    color: #d1b360;
  }
  
  .navbar-light .navbar-toggler {
      color: rgba(0,0,0,0.5);
      border: none;
   }

   nav.navbar{
     top: 0;
     
   }

 